<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Plikojad</title>
    <link
      href="https://fonts.googleapis.com/css?family=Rubik+Mono+One&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/style.css" />
  </head>

  <body>
    <div class="wrap">
      <div id="main-header">Plikojad</div>
      <a href="add"><button class="btn">Get Started</button></a>
    </div>

    <footer>
      JaZa<span class="pink">&</span>Nimplex<span class="blue">©</span>
    </footer>
  </body>
</html>
