<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Plikojad</title>
    <link rel="shortcut icon" href="https://cdn.glitch.com/bef7a77e-9c7f-4287-9998-c562b3c4d823%2Fplikojad.png?v=1570815759223" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css" integrity="sha256-PHcOkPmOshsMBC+vtJdVr5Mwb7r0LkSVJPlPrp/IMpU=" crossorigin="anonymous" />
    <link rel="stylesheet" href="/files/style.css">
    <meta property="og:type" content="product">
	  <meta property="og:title" content="Plikojad">
    <meta property="og:image" content="">
    <meta name="twitter:card" content="product">
  	<meta name="twitter:site" content="https://plikojad.glitch.me">
	  <meta name="twitter:title" content="Plikojad">
	  <meta name="twitter:description" content="Miejsce na twoj kupsko code">
</head>
<body>
  <div id="container">
    <div id="title" class="animated infinite pulse slower">Plikojad</div>
      <p>  <%= pliki %>  </p>
    <a href="/send" class="linked">Wyślij plik</a>
  </div>
  
  <footer>
    JaZa<span class="color">&</span>Nimplex<span class="color">©</span>
  </footer>
  
</body>
</html>