<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Plikojad</title>
    <link
      href="https://fonts.googleapis.com/css?family=Raleway:500&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/info.css" />
  </head>

  <body>
    <div id="wrap">
      <div class="header-main">Info</div>
      <div id="about">
        <div class="header">about</div>
        <div id="description">
          open source, free, easy to use storage for your code/text.
        </div>
        <div id="authors">
          <a href="https://ctrl-team.netlify.com/">authors</a>
        </div>
      </div>
      <div id="stats">
        <div class="header">stats</div>
        <div id="filesNumber"><%=length%> files!</div>
      </div>
    </div>

    <footer>
      JaZa<span class="pink">&</span>Nimplex<span class="blue">©</span>
    </footer>
  </body>
</html>
