body{
    background: #282a36;
    color: #fff;
    padding: 0;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
  
}
.color{
  color: #515775;
}
#navbar{
  position: fixed;
  right: 15px;
  margin-top: -5px;
}
#wrap{
    padding: 10px;
}
#title{
    background: #282a36;
    font-size: 35px;
}
#content{
    margin-top: 5px;
  margin-left: 5px;
    font-size: 20px
}
.content{
    padding: 5px;
}
#roz{
    padding: 5px;
    font-size: 20px;
    color: #0f111c;
}
a{
  color: white;
}
a:hover{
  color: orange;
}