body{
    background: #282a36;
    color: #fff;
    padding: 0;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}
#notfound{
    font-size: 50px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#notfound::after{
    content: ':(';
    font-size: 13.25px;
}