body{
  background: #282a36;
  color: #fff;
  padding: 0;
  margin: 0;
  font-family: 'Quicksand', sans-serif;

}
#navbar{
  position: fixed;
  right: 15px;
  margin-top: -5px;
}
.one{
  padding: 6px;
}
#lang{
  font-family: 'Quicksand', sans-serif;
  padding: 5px 
}
#lan2g{
  font-family: 'Quicksand', sans-serif;
  padding: 5px 
}
#code{
  resize: vertical;
}
#wrapper{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.data{
  ont-family: 'Quicksand', sans-serif;
  box-sizing: border-box;
  margin: 3px;
  width: 25vw;
  border: none;
  color: #cfcfcf;
  background: #181a21
}
@media screen and (max-width: 800px){
  .data{
    width: 60vw;
  };
  #navbar a img{
    height: 150px;
  }
}